@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #1f1f1f;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  scrollbar-width: none !important;
}

input {
  border: none;
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #f7f9fa;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 3px 5px #eeeeeec0;
  padding: 4px 10px;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-container {
  width: 1200px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.navbrand {
  border: 1px solid dodgerblue;
  border-radius: 3px;
  width: 18%;
  height: 40px;
}

.nav-middle {
  display: flex;
  height: 40px;
  width: 50%;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 6px;
}

.nav-search {
  width: 100%;
  height: 100%;
  padding: 0 0 0 5px;
}

.nav-search__icon {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nav-search {
  font-size: 0.7rem;
  padding: 0 0 0 6px;
}

.nav-end {
  width: fit-content;
  display: flex;
  align-items: center;
  height: 40px;
}

.nav-message__icon-cover,
.nav-notification__icon-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  position: relative;
}

.notification-bg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: dodgerblue;
}
.nav-activity__cover {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
}

.nav-profile__cover {
  width: fit-content;
}

.nav-profile__img {
  width: 45px;
  height: 45px;
  border: 3px solid #16db47;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-profile__img-inner {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e4e43a, yellow);
}

.nav-profile__img-inner__title {
  font-size: 0.9rem;
  color: white;
  font-size: 600;
}

.nav-profile__title {
  font-size: 0.8rem;
  margin: 0 0 -2px 0;
}

.nav-profile__username {
  color: #16db47;
}

.nav-profile__cover {
  width: fit-content;
  display: flex;
  align-items: center;
}

.nav-profile__name-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 0 9px;
}

.nav-profile__title-cover {
  display: flex;
  align-items: center;
  width: fit-content;
}

.nav-profile__username {
  font-size: 0.7rem;
}

.nav-profile__dd-icon {
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 5px;
}

.nav-profile__logout-btn__cover {
  width: fit-content;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 9px;
}

/* Layout */
.container {
  width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.left-container,
.right-container {
  width: 28%;
  height: 100vh;
}

.content {
  width: 70%;
  height: 100%;
  margin: 0 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none !important;
}

.content-container {
  margin: 100px 0 0 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.left-content {
  margin: 100px 0 0 0;
  width: 100%;
}

.sidenav-link {
  width: fit-content;
}
.sidenav-item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 7px 9px;
  border-radius: 10px;
  margin-bottom: .5rem;
}
.sidenav-item .sidenav-item__title, .sidenav-item__img-cover svg path {
  color: #0183d0;
}

.sidenav-item.active {
  background: #0183d0;
  color: white;
}
.sidenav-item.active .sidenav-item__title, .sidenav-item.active .sidenav-item__img-cover svg path {
  color: white;
}

.sidenav-item__title {
  font-size: 0.8rem;
}

.sidenav-item__img-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 9px;
}

/* .nav-message__icon-cover > svg {
  fill: red;
} */
.svg {
  fill: #cccccc;
}

.verilogo {
  fill: #16db47;
}

.arrowd {
  fill: #cccc;
}

.icon {
  color: #ccc;
}

.nav-profile__icon__cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

summary {
  display: block;
  cursor: pointer;
  outline: 0; 
  display: flex;
  padding: 7px 9px;
  margin-bottom: .5rem;
}

summary::-webkit-details-marker {
    display: none;
  }

.tree-nav__item {
  display: block;
  white-space: nowrap;
  color: #0183d0;
  position: relative;
}
.tree-nav__item.is-expandable::after {
  border-left: 1px solid #0183d0;
  content: "";
  height: calc(100% - 45px);
  left: 10%;
  position: absolute;
  top: 2.4rem;
}
.tree-nav__item .tree-nav__item {
  margin-left: 2.4rem;
}
.tree-nav__item.is-expandable[open] > .tree-nav__item-title::after {
  font-family: "ionicons";
  transform: rotate(180deg);
  bottom: calc(100% - 39px);
}
.tree-nav__item.is-expandable > .tree-nav__item-title::after {
  position: absolute;
  will-change: transform;
  transition: ease;
  font-family: "ionicons";
  color: #0183d0;
  content: "\2304";
  display: inline-block;
  width: 1.6rem;
  text-align: center;
  left: 85%;
  bottom: 35%;
  font-size: 1.3rem;
}

.tree-nav__item-title {
  cursor: pointer;
  display: block;
  outline: 0;
  color: #0183d0;
  display: flex;
}
.tree-nav__item-title .icon {
  display: inline;
  padding-left: 1.6rem;
  margin-right: 0.8rem;
  color: #0183d0;
  font-size: 1.4rem;
  position: relative;
}
.tree-nav__item-title .icon::after {
  top: 0;
  position: absolute;
  left: 0;
  display: inline-block;
  width: 1.6rem;
  text-align: center;
}

.tree-nav__item-title::-webkit-details-marker {
  display: none;
}



.hashtag-nav {
  padding-top: 20px;
}

.hashtag-nav__container {
  padding: 5px;
}

.hashtag-nav__title {
  color: #888;
  padding: 5px 0;
}

.hashtag-nav__content {
  color: #0183d0;
}